.ion-border{
    width: 30%;
    height: 500px;
	margin: auto;
	border:2px solid rgb(2, 5, 15);
	border-collapse: collapse;
	text-align: center;
	font-size: 15px;
	background:whitesmoke;
	opacity:0.5;
	color:white;
    margin-top: 10px;
    padding: 10px;
    opacity: 0.9;
    margin-left: 35%;

}
.back{
    background: rgb(12, 197, 230);
    border:1px solid rgb(10, 10, 10);
    font-family: Arial;
    font-style: italic;
}
.get{
    background: whitesmoke;
}
