<ion-tabs>

  <ion-tab-bar slot="bottom" class="back">
    <ion-tab-button tab="tab1" class="beat">
      <ion-icon name="">
          <img src="./assets/imgs/profile.png" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="beat">
      <ion-icon name="">
          <img src="./assets/imgs/gallery.png" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="beat">
      <ion-icon name="">
          <img src="./assets/imgs/contact.png" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
